
src/Capgemini\.Ams\.Dojo\.Donet\.Api/obj/

src/Capgemini\.Ams\.Dojo\.Donet\.Api/bin/

src/Capgemini\.Ams\.Dojo\.Donet\.Comic\.Api/obj/

src/Capgemini\.Ams\.Dojo\.Donet\.Comic\.Api/bin/

src/Capgemini\.Ams\.Dojo\.Donet\.Comic\.Business/obj/

src/Capgemini\.Ams\.Dojo\.Donet\.Comic\.Connector/obj/

src/Capgemini\.Ams\.Dojo\.Donet\.Comic\.Model/obj/

src/Capgemini\.Ams\.Dojo\.Donet\.Comic\.Business/bin/

src/Capgemini\.Ams\.Dojo\.Donet\.Comic\.Model/bin/

src/Capgemini\.Ams\.Dojo\.Donet\.Comic\.Connector/bin/
